<!doctype html>
<html>
	<head>
		<title>{{ blog_name }}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<style>
			pre {border-radius: 5px;}
		</style>
	</head>
	<body>
		<div class="container has-text-centered p-2">
			<h1 class="title is-1">{{ blog_name }}: Page not found</h1>
            <p>
                This page could not be found. Return to the <a href="/">index</a>
            </p>
		</div>
		<footer class="footer">
            <div class="content has-text-centered">
				<h6 class="title is-6"><a href="https://github.com/traxys/viz">Source code</a></h6>
                <p>
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                The website content is licensed
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
	</body>
</html>
